<p>Hi <%= @user.first_name %>,</p>

<p>Nice to meet you. Find out about your new job with HireMe!
The most transparent applicant tracking system.</p>

<p><%= link_to "Get back on the website", root_url %></p>
