// Specific CSS for your home-page
.cards h1 {
  color: $hire-me-blue;
  font-size: 100px;
}
.cards p {
  opacity: 0.7;
  font-size: 30px;
}

.card-categoryy {
  text-align: center;
  margin: 20px 5px;
}

.companies-font h1{
  font-size: 3rem;
	font-family: $new-font;
  color: $hire-me-blue;
}

.hiremelogo{
	color: $hire-me-blue;
}