<footer class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        <p>Find the perfect job @ Le Wagon</p>
      </div>
    </div>
  </div>
</footer>
