<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3184306/pexels-photo-3184306.jpeg?cs=srgb&dl=group-of-person-sitting-indoors-3184306.jpg&fm=jpg);">
  <div class="container">
    <h1>Hire me, tranparency is our ..something</strong>!</h1>
    <p>Your applications status</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<div class="card">
  <img src='https://res.cloudinary.com/dslkfpryg/image/upload/v1583252344/Capture_d_e%CC%81cran_2020-03-03_a%CC%80_17.18.14_by2qav.png' class="avatar-large" />
  <div class="notification-content">
    <p><small> Head of Engineering - Digital Experience Platform</small></p>
    <p>To see the progress on your application, look at your left  </p>

  </div>

  <div class="notification-actions">
</div>

<div class="card">
 <img src='https://res.cloudinary.com/dslkfpryg/image/upload/v1583252344/Capture_d_e%CC%81cran_2020-03-03_a%CC%80_17.18.14_by2qav.png' class="avatar-large" />
  <div class="notification-content">
    <p><small> Technologie und UX / UI Design</small></p>
    <p>To see the progress on your application, look at your left </p>
  </div>


</div>



