<div class="header_picture" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3184306/pexels-photo-3184306.jpeg?cs=srgb&dl=group-of-person-sitting-indoors-3184306.jpg&fm=jpg);">
  <div class="container">

    <h2 class="header-font text-white text-center pt-5 pb-5">Your Application Status</h2>
  </div>
</div>
<div class="container col-md-10 mt-3">

  <% if current_user.admin %>

    <% @all_applications.each do |application|  %>
        <%= render "/application/application", application: application %>
    <%  end %>

  <% else %>

    <%  @applications.each do |application|  %>
      <%= render "/application/application", application: application %>
    <%  end %>

 <% end %>




