<div class="header_picture" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3184306/pexels-photo-3184306.jpeg?cs=srgb&dl=group-of-person-sitting-indoors-3184306.jpg&fm=jpg);">
  <div class="container">

    <h2 class="header-font text-white text-center pt-5 pb-5">Your Application Status</h2>
  </div>
</div>
<div class="container col-md-10 mt-3">

	<% @applications.each do |application|  %>
   <div class="row">
      <div class="card-deck">
        <div class="card mb-4 pt-4">
          <div class="card-body">
    	      <p class="application_date"> Application date: <%= application.created_at.strftime("%b %d, %Y") %></p>

            <div class="col-md-10">
              <h3 class="card-title text-left pt-0"> <%=application.job.title%></h3>
              <div class="row">
                <div class="col-md-6">
  	 							<p class= "badge badge-pill text-center"><%= application.status %></p>
  	          	</div>

                <% if current_user.admin %>
                  <%= link_to "Change status", edit_job_application_path(application.job, application) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%  end %>
</div>



