.header_picture {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 50px
}

.header_picture h1 {
  text-align: center;
  color: white;
}

.header_picture p {
  text-align: center;
  color: white;
}
