// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/font_awesome_icons";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/banner";
@import "components/button";
@import "components/cards";
@import "components/alert";
@import "components/header_picture";
@import "components/footer";
@import "components/rating";
@import "pages/index";
@import "pages/home";
@import "pages/job";
@import "pages/lewagon";


canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50px;
	left: 0;
}

.badge.badge-pill{
	font-weight: 300;
}