<div class="header_picture" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3759059/pexels-photo-3759059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>Your <strong>Application Form</strong>!</h1>
  </div>
</div>

<%= simple_form_for [@job, @application] do |f| %>
  <%= f.input :letter_of_motivation %>
  <%= f.button :submit %>
<% end %>
